body {
    margin:0;
    overflow:hidden;
    font-family:Arial;
    background:black;
}

#menu {
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    background:#000;
}

#hud {
    position:absolute;
    width:100%;
    height:100%;
    pointer-events:none;
    display:none;
}

#crosshair {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:20px;
}

#ammo {
    position:absolute;
    bottom:20px;
    right:20px;
    color:white;
}

#mission {
    position:absolute;
    top:20px;
    left:20px;
    color:white;
}
